<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu/commuter_login"></ion-back-button>
    </ion-buttons>
    <ion-title>Naulify</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>      
      <ion-card-title class="ion-text-center">Commuter Verify Email</ion-card-title>
    </ion-card-header>
    <ion-card-content>
  <ion-grid>
    <ion-row>
      <h2>Naulify Verify Email</h2>
      <hr/>
      <br/>
      <br/>

      <p>
        Please check your email and click on the link to verfiy your email address.
      </p>
      <ion-button type="submit" size='small' (click)="authService.SendVerificationMail()" >
        Resend Verification Email
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-card-content>
</ion-card>
</ion-content>
